@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */

#container {
    background-color: #3700B3;
    color: white;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 70rem;
    height: 75px;
    margin-right: auto;
    margin-left: auto;
    /*
    animation: slideInDown;
    animation-duration: 0.6s;
    */
}

h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    margin-top: 8px;
}

#navbar-title span{
    font-weight: 400;
}

.navbar-links {
    display: flex;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    margin-left: 60px;
    transition: 0.3s;
}

.navbar-links a:hover {
    color: rgb(202, 202, 202);
}

input{
    width: 300px;
    height: 35px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    transition: all 0.3s;
    padding: 0px 40px 0px 50px;
}

.fa-arrow-right-to-bracket{
    margin-left: 10px;
}

.fa-magnifying-glass{
    color: #3700B3;
    position: relative;
    right: 35px;
    cursor: pointer;
}

select{
    border: none;
    width: 45px;
    height: 30px;
    border-radius: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: gray;
    cursor: pointer;
    padding: 0px 7px 0px 7px;
    font-size: 14px;
    position: relative;
    left: 50px;
}

select option{
    font-size: 14px;
    color: gray;
}

select:focus {
    outline: none;
}

/* Tabela */

#container-table{
    width: 100%;
    height: 100%;
    max-width: 75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 15px;
}

/* Botão */

#button-container{
    display: flex;
}

#button-editar:hover {
    opacity: 80%;
}

#button-editar{
    color: #3700B3;
    background-color: white;
    border: 1px solid #3700B3;
    font-size: 13px;
    padding: 10px 25px;
    border-radius: 18px;
    text-decoration: none;
    transition: all 0.3s;
    margin-right: 15px;
}

#button-deletar:hover {
    opacity: 80%;
}

#button-deletar{
    color: #FF5D3F;
    background-color: white;
    border: 1px solid #FF5D3F;
    font-size: 13px;
    padding: 10px 23px;
    border-radius: 18px;
    text-decoration: none;
    transition: all 0.3s;
}

#button-table{
    display: flex;
    justify-content: center;
    margin-top: -25px;
}

#button{
    color: white;
    background-color: #3700B3;;
    border: none;
    font-size: 13px;
    padding: 10px 23px;
    border-radius: 18px;
    text-decoration: none;
    transition: all 0.3s;
    margin-bottom: 40px;
    /*
    animation: zoomIn;
    animation-duration: 1s;
    */
}

#button:hover {
    opacity: 80%;
}

#container-table{
    overflow-x: auto;
    /*
    animation: zoomIn;
    animation-duration: 0.5s;
    */
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

.navbar-menu{
    background-color: #3700B3;
    position: fixed;
    width: 100%;
    z-index: 3;
    animation: showSidebar 1s;
}

@keyframes showSidebar{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Media Queries */

@media screen and (max-width: 1200px) {
    #navbar {
        max-width: 90%;
    }

    #button-editar i,
    #button-deletar i{
       display: none;
    }
}

@media screen and (max-width: 1000px) {
    .navbar-bar input{
        width: 200px;
    }

    #button-editar,
    #button-deletar{
        font-size: 12px;
        padding: 10px 10px;
    }
}

@media screen and (max-width: 870px) {
    #navbar-title{
        display: none;
    }
}

@media screen and (max-width: 650px) {
    td{
        font-size: 13px;
    }

    .mobile-menu-icon {
        display: block;
        margin-right: 30px;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        cursor: pointer;
        border: none;
    }

    .mobile-menu-icon button:focus {
        outline: none;
    }

    .mobile-menu-icon button i {
        color: white;
        font-size: 16px;
    }

    .mobile-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform 3s;
    }

    .mobile-menu a {
        color: white;
        text-decoration: none;
        margin: 10px 0px 30px 0px;
    }

    .navbar-links {
        display: none;
    }

    .open{
        display: flex;
        transform: translateY(0);
        animation: fade-in 1s;
    }

    @keyframes fade-in {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
    }
}

@media screen and (max-width: 400px) {
    .navbar-bar input {
        width: 150px;
        padding: 0px 40px 0px 40px;
    }

    select{
        width: 35px;
        height: 30px;
        padding: 0px 0px 0px 7px;
        font-size: 13px;
        left: 40px;
    }
    
    select option{
        font-size: 13px;
    }
}

