@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

h2{
    border-bottom: 1px solid #3700B3;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 40px;
}

.alert{
    color:#FF5D3F;
    font-size: 14px;
}

/* Navbar */

.container{
    background-color: #3700B3;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 70rem;
    height: 75px;
    margin-right: auto;
    margin-left: auto;

    animation: slideInDown;
    animation-duration: 0.6s;
}

.navbar-title {
    font-size: 15px;
}

.navbar-title span{
    font-weight: 400;
}

.navbar-links {
    display: flex;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    margin-left: 60px;
    transition: 0.3s;
}

.navbar-links a:hover {
    color: rgb(202, 202, 202);
}

.navbar-bar input{
    width: 300px;
    height: 35px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    transition: all 0.3s;
    padding: 0px 40px 0px 50px;
}

.fa-arrow-right-to-bracket{
    margin-left: 10px;
}

.fa-magnifying-glass{
    color: #3700B3;
    position: relative;
    right: 35px;
    cursor: pointer;
}

select{
    border: none;
    width: 45px;
    height: 30px;
    border-radius: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: gray;
    cursor: pointer;
    padding: 0px 7px 0px 7px;
    font-size: 14px;
    position: relative;
    left: 50px;
}

select option{
    font-size: 14px;
    color: gray;
}

select:focus {
    outline: none;
}

/* Formulário */

.container-form{
    width: 100%;
    height: 100%;
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;

    animation: zoomIn;
    animation-duration: 0.5s;
}

/* Input */

.input-container{
    /*width: 280px; */
    position: relative;
}

.label{
    position: absolute;
    left: 10px;
    top: 14px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
}

.label::before{
    content: "";
    height: 5px;
    position: absolute;
    background-color: white;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: -1;
}

.text-input{
    padding: 0.8rem;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    transition: all .3s;
    margin-bottom: 15px;
}

.text-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.text-input::placeholder{
    opacity: 0;
}

.text-input:focus::placeholder{
    opacity: 1;
}

.text-input:focus + .label,
.text-input:not(:placeholder-shown) + .label{
    top: -10px;
    font-size: 14px;
}

/* Botões */

.button-enviar{
    color: white;
    background-color: #3700B3;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    width: 150px;
    height: 35px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 10px;
    margin-bottom: 40px;
}

.button-enviar:hover {
   opacity: 80%;
}

.button-cancelar:hover {
    opacity: 80%;
 }

.button-cancelar{
    color: white;
    background-color: #FF5D3F;
    font-size: 14px;
    padding: 9px 45px;
    border-radius: 15px;
    text-decoration: none;
    position: relative;
    top: 8px;
    transition: all 0.3s;
}

.container-button{
    display: flex;
    
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

.navbar-menu{
    background-color: #3700B3;
    position: fixed;
    width: 100%;
    z-index: 3;
    animation: showSidebar 1s;
}

@keyframes showSidebar{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Media Queries */

@media screen and (max-width: 1200px) {
    .navbar {
        max-width: 90%;
    }
}

@media screen and (max-width: 1000px) {
    .navbar-bar input {
        width: 200px;
    }
}

@media screen and (max-width: 870px) {
    .navbar-title {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .mobile-menu-icon {
        display: block;
        margin-right: 30px;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        cursor: pointer;
        border: none;
    }

    .mobile-menu-icon button i {
        color: white;
        font-size: 16px;
    }

    .mobile-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform 3s;
    }

    .mobile-menu a {
        color: white;
        text-decoration: none;
        margin: 10px 0px 30px 0px;
    }

    .navbar-links {
        display: none;
    }

    .open{
        display: flex;
        transform: translateY(0);
        animation: fade-in 1s;
    }

    @keyframes fade-in {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
    }
}

@media screen and (max-width: 480px) {
    .text-input {
        width: 200px;
    }

    h2 {
        font-size: 25px;
    }

    .button-enviar {
        width: 100px;
    }

    .button-cancelar {
        padding: 9px 20px;
    }
}

@media screen and (max-width: 400px) {
    .navbar-bar input {
        width: 150px;
        padding: 0px 40px 0px 40px;
    }

    select{
        width: 35px;
        height: 30px;
        padding: 0px 0px 0px 7px;
        font-size: 13px;
        left: 40px;
    }
    
    select option{
        font-size: 13px;
    }
}